body {
    background-color: #0c122c;
    font-family: "Raleway", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff;
}
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
.content {
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.footer {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
.footer a {
    text-decoration: none;
    color: #848794;
    transition: all 0.3s;
}
.footer a:hover,
.footer a:active {
    color: #dddbff;
}
.wavy-bg {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 52.5%;
    width: 100%;
    z-index: -1;
}
.card {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.card__fylo {
    height: 20rem;
    width: 35rem;
    margin-right: 3rem;
    background-color: #1d2c67;
    border-radius: 1rem 9rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.card__fylo--logo {
    margin-left: 4rem;
}
.card__icons {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
}
.card__menu {
    padding: 1rem;
    margin-right: 1.5rem;
    border-radius: 1rem;
    background-color: #0c122c;
    display: flex;
    align-items: center;
}
.card__menu:first-child {
    margin-left: 4rem;
}
.card__storage {
    height: 15rem;
    width: 50rem;
    padding: 3rem;
    background-color: #1d2c67;
    border-radius: 1rem;
    line-height: 4rem;
    color: #dddbff;
    display: flex;
    flex-direction: column;
}
.card__storage--top {
    display: flex;
    justify-content: space-between;
    margin-bottom: -3rem;
}
.card__storage--usage {
    font-size: 1.3rem;
}
.card__storage--amount {
    font-weight: 700;
}
.card__storage--bar {
    background-color: #0c122c;
    border-radius: 1rem;
    display: flex;
    align-items: center;
}
.card__storage--bar-filled {
    height: 1.5rem;
    width: 81.5%;
    border-radius: 1rem;
    margin: 0.2rem;
    background-image: linear-gradient(to right, #ffa399, #ff4d97);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.card__storage--bar-dot {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 0.2rem;
    background-color: #fff;
}
.card__storage--placeholders {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 700;
}
.card__comment {
    height: 7rem;
    width: 16rem;
    font-weight: 700;
    background-color: #fff;
    color: #0c122c;
    border-radius: 1rem;
    border-bottom-right-radius: 0;
    padding: 2rem 0 2rem 2rem;
    position: relative;
    bottom: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card__comment--h1 {
    font-size: 3.5rem;
}
.card__comment--p {
    margin-left: 1rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #848794;
}
.card__comment::after {
    border-left: 3rem solid transparent;
    border-top: 3rem solid #fff;
    content: "";
    position: relative;
    bottom: -4rem;
    right: -0.1rem;
}
